<h1>Main Menu</h1>
<ol>
  <li>List all recipes</li>
  <li>Create a new recipe</li>
  <li>Destroy a recipe</li>
  <li>Import recipes from Epicurious</li>
  <li>Mark recipe as done</li>
  <li>Stop and exit the program</li>
</ol>

<% a = gets.chomp %>
<% puts a %>
